@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Aclonica';
    src: url('/fonts/Aclonica-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Be Vietnam Pro';
    src: url('/fonts/BeVietnamPro-SemiBold.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Readex Pro';
    src: url('/fonts/ReadexPro-VariableFont_HEXP,wght.ttf') format('truetype');
    font-display: swap;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 40px;
    aspect-ratio: 1;
    color: #f03355;
    position: relative;
    background:
      conic-gradient(from 134deg at top   ,currentColor 92deg,#0000 0) top,
      conic-gradient(from -46deg at bottom,currentColor 92deg,#0000 0) bottom;
    background-size: 100% 50%;
    background-repeat: no-repeat;
  }
  .loader:before {
    content:'';
    position: absolute;
    inset: 0;
    --g:currentColor 14.5px,#0000 0 calc(100% - 14.5px),currentColor 0;
    background:
      linear-gradient( 45deg,var(--g)),
      linear-gradient(-45deg,var(--g));
     animation: l7 1.5s infinite cubic-bezier(0.3,1,0,1);
  }
  @keyframes l7 {
     33%  {inset:-10px;transform: rotate(0deg)}
     66%  {inset:-10px;transform: rotate(90deg)}
     100% {inset:0    ;transform: rotate(90deg)}
  }


  .swiper-pagination-bullet-active {
    background: black !important;
  }

  @keyframes gentleShake {
    0%, 100% { transform: translateX(0); }
    20% { transform: translateX(-4px) rotate(-1deg); }
    40% { transform: translateX(4px) rotate(1deg); }
    60% { transform: translateX(-4px) rotate(-1deg); }
    80% { transform: translateX(4px) rotate(1deg); }
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes spinInPlace {
    from {
      transform: translateY(150%) rotate(0deg);
    }
    to {
      transform: translateY(150%) rotate(360deg);
    }
  }

  @keyframes shake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  75% { transform: translateX(5px); }
}

.shake-animation {
  animation: shake 0.5s ease-in-out;
}

@keyframes continuous-shake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-3px); }
  75% { transform: translateX(3px); }
}

.continuous-shake {
  animation: continuous-shake 0.5s infinite;
}

.continuous-shake:hover {
  animation: none;
}

@keyframes gentleShake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  75% { transform: translateX(5px); }
}

.shake-button {
  animation: gentleShake 0.8s ease-in-out infinite;
}

.shake-button:hover {
  animation: none;
}